{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}О нас{% endblock%}
{% block content%}
<br>
<div class="photoabout">
<img src="{% static 'mainpage/img/olimp.jpg' %} " width="10%"  align="center">
</div>
<h1 align="center">{% trans 'О нас!'%}</h1><br>


<style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   p.size{
   	font-size: 18px;
   }
   .imgolimp {
   	margin-left: 170px;
   }
   p.ps {
   	margin-left: 165px;
   	margin-right: 165px;
   }
  </style>

  <p><img src="{% static 'mainpage/img/mark.jpg' %}" width="15%" class="leftimg">

<p class="size">{% trans 'Деятельность центра ОЛИМП(WT) ориентирована на подготовку специализированных кадров — инструкторов, которые смогли бы в дальнейшем проявить себя в сфере физкультуры и спорта, пропагандируя здоровый образ жизни. Особое внимание отводится тем, кто намерен сделать тренерскую стезю делом своей жизни, станет развивать данный олимпийский вид спорта в Кыргызстане, воспитывая новую плеяду чемпионов самых престижных международных турниров, вплоть до Олимпийских игр.' %}</p>


  <p><img src="{% static 'mainpage/img/leftimg.jpg' %} "  width="15%" class="rightimg">
<p class="size">{% trans 'Немаловажным аспектом работы Клуба ОЛИМП является и социальная работа. Так, двери к нашему ОЛИМП (WTC) открыты и для детей с различными физическими недостатками. Для них занятия дважды в неделю проводят инструкторы клуба на безвозмездной основе. Руководство клуба ОЛИМП видит в этом свою социальную миссию и ответственность перед обществом, приобщая к этому своих молодых наставников..' %}</p><br><br>



<img src="{% static 'mainpage/img/WhatsApp Image 2020-06-13 at 8.55.06 PM.jpeg' %} " width="70%" class="imgolimp"><br><br>
<p class="ps">


  <p><img src="{% static 'mainpage/img/team.jpg' %}" width="15%" class="leftimg">
  <p><img src="{% static 'mainpage/img/team2.jpg' %} " width="15%" class="rightimg">
  	<p class="size">{% trans 'Ещё одним важным направлением деятельности клуба ОЛИМП (WTC) КР является воспитание у молодых спортсменов толерантного отношения к корейской культуре и традициям, формируя, тем самым, культурную социальную среду. Таэквондо – это национальный корейский вид спорта, поэтому руководство и тренерский состав ОЛИМП (WTC) синхронизируют работу, не отступая от корейских обычаев и традиций, вплоть до упражнений, названий блоков, ударов, принятых в Республике Корея.' %}</p>

  	<p class="size">{% trans 'За время существования клуба ОЛИМП (WTC) проделана огромная спортивная и организационно-массовая работа: модернизирована система судейства, сделан большой вклад в развитие Таэквондо в Кыргызстане. Проводиться ежегодное Первенство и Кубок ОЛИМП (WTС) КР, с участием стран ближнего и дальнего зарубежья, так же проводятся аттестации (защита на цветные и черные пояса) и тренерские семинары, для повышения квалификации.'%}</p>

  	<p class="size">{% trans 'Воспитанники ОЛИМП занимаются не только в спортивном зале, но ежегодно вместе с тренером и инструкторами проходят учебно-тренировочные сборы на озере Иссык-Куль. Подобные мероприятия замечательно укрепляют командный дух и физическое здоровье воспитанников.'%}</p>


{% endblock %}