{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}О Кыргызстане{% endblock %}
{% block content %}

<br><h1 align="center">{% trans 'О Кыргызстане!' %}</h1>
<div class="kyrgyzstan">


<img src="{% static 'mainpage/img/kyrgyzstan.jpg' %}">
<label>

{% trans 'Киргизия – гористая страна в Центральной Азии. Она расположена вдоль Великого шелкового пути – древней торговой дороги между Китаем и Средиземноморьем. В горах Тянь-Шань, которые окружают этот караванный путь и занимают большую часть страны, обитают снежные барсы, рыси и овцы. На юге страны находится город Ош, история которого насчитывает более тысячи лет. Он славится огромным базаром, где когда-то останавливались купцы, следовавшие по Великому шелковому пути.' %}
</label><br><br>


<h1 align="center">{% trans 'Общая информация' %}</h1>

<p>{% trans 'Находится Республика в центре Евразийского континента, на пересечении воздушных сообщений между Востоком и Западом, Севером и Югом. В зоне 4-часового перелета из аэропорта «Манас» расположены города: Москва (Россия), Пекин (Китай), Стамбул (Турция), Дели (Индия).' %}</p>

<p>
<strong>{% trans 'Расположение:' %}</strong>{% trans 'северо-восток Средней Азии.' %}<br>
<strong>{% trans 'Координаты:' %}</strong>{% trans '41° 00″ северной широты, 75° 00″ восточной долготы.'%}<br>
<strong>{% trans 'Площадь:' %}</strong>{% trans '198,5 кв.км. 94% страны занимают горы. Средняя высота — 2750 м над уровнем моря.'%}<br>
<strong>{% trans 'Население:'%}</strong>{% trans '5 500,0 тыс. человек'%}<br>
<strong>{% trans 'Состав населения:'%}</strong>{% trans 'Кыргызы — 58%, русские — 18%, узбеки — 16%, казахи, таджики, уйгуры и прочие национальности — 8%.'%}<br>
<strong>{% trans 'Столица Кыргызстана:'%}</strong>{% trans 'Бишкек'%}<br>
<strong>{% trans 'Язык:'%}</strong>{% trans 'Кыргызский — государственный, русский — официальный и основной язык общения.'%}<br>
<srtong>{% trans 'Религия:'%}</srtong>{% trans 'Ислам — 75%, православие — 20%, прочие религии — 5%.'%}<br>
<srtong>{% trans 'Время:'%}</srtong>{% trans 'по Гривинчу + 5 часов.'%}<br>
<strong>{% trans 'Электроэнергия:'%}</strong>{% trans '220 V AC, 50 А; стандартное гнездо двойного штепселя'%}<br>
<strong>{% trans 'Интернет зона:'%}</strong>{% trans '.kg'%}<br>
<strong>{% trans 'Национальная валюта:'%}</strong>{% trans 'Сом (100 тыйын)'%}<br>
<strong>{% trans 'Лучшее время для путешествия:'%}</strong>{% trans 'Май — октябрь'%}<br>
</p><br>
<h1 align="center">{% trans 'Географическое положение'%}</h1><br>

<style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .leftimg2 {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */   	
   }
   .rightimg2  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
  </style>

  <p><img src="{% static 'mainpage/img/gori1.jpg'%}  "class="leftimg">
  	<p>{% trans 'Кыргызстан граничит: на севере — с Казахстаном, на западе и северо-западе — с Узбекистаном, на юго-западе — с Таджикистаном и на юге и юго-востоке — с Китаем (протяженность границы 1049 км). Общая длина границ Кыргызстана — 4503 км. Общая площадь республики — 198,5 км2. 94% страны занимают горы. Средняя высота — 2750 м над уровнем моря.'%}</p>

<p>{% trans 'Территория Кыргызской Республики простирается с запада на восток на 900 км, с севера на юг на 410 км и лежит примерно между 39° и 43° северной широты. Наиболее высоко поднятая часть территории республики находится на ее восточной окраине. Здесь, в горном узле, пограничном с Китаем, возвышаются высочайшие точки всей Тянь-шаньской горной системы — пик Победы (7439 м) и Хан-Тенгри (6995 м). Отсюда хребты веерообразно расходятся на запад и юго-запад, создавая обособленные параллельные цепи, простирающиеся, в основном, в широтном направлении до 300-400 км. На крайней южной границе республики с Таджикистаном выделяется высочайший Чон-Алайский (Заалайский) хребет, где находится вторая по высоте вершина Кыргызстана — пик Ленина (7134 м).'%}</p>


  <p><img src="{% static 'mainpage/img/gori2.jpg'%}" class="rightimg">
<p>{% trans 'Сложное строение горного рельефа и пестрота экологических условий обусловили большое разнообразие почвенно-растительного покрова и животного мира Кыргызстана. На его территории встречаются пустыни, степи, луга, леса, заросли кустарников, болота, горные тундры и другие типы растительности.'%}</p>

<p>{% trans 'Кыргызская Республика имеет огромный запас водных ресурсов. В 7 самых больших речных бассейнах располагается более 28000 рек и истоков, 90% которых имеют длину 10 км. Среди них есть реки с высоким уровнем воды. Например, река Нарын протяжённостью более 500 километров.' %}</p>

<p>{% trans 'Республике Кыргызстан более 2000 озер и искусственных водохранилищ. Озера занимают 3,4% территории. Около 90% из них являются высокогорными запрудами и закрытыми озерами. Сары-Челек расположено на юго-западном склоне Чаткальской гряды, на высоте 1873,9 м над уровнем моря, и является биосферным заповедником.'%}</p>

  <p><img src="{% static 'mainpage/img/gori3.jpg'%}" class="leftimg2">
<p>{% trans 'В Кыргызстане около 2000 озёр, общая площадь которых составляет 6836 квадратных километров. Большинство озёр являются высокогорными и лежат на высоте от 2500 до 4000 метров над уровнем моря. Основной причиной формирования озёр является таяние ледников. Только 16 кыргызских озёр превышают площадь в 1 квадратный километр.Слово «Куль» в кыргызском языке означает озеро – Иссык-Куль, Сон-Куль, Чатыр-Куль.' %}</p>


  <p><img src="{% static 'mainpage/img/gori4.jpg'%}" class="rightimg2">

<p>{% trans '3/4 общей площади ледников принадлежит речному бассейну рек Сырдарья и Тарим, их основные центры находятся на дальнем западе, в бассейне Сары-Джаз, где находится самая большая долина ледников (Южный Энельчек, длиной 60,5 км, Кайынды — 29,0 км), а также горы Тескей Ала-Тоо, Кашаал-Тоо, Ак-Шайрык, Чон-Алай. В горах Тянь-Шаня есть ледники с плоскими вершинами. Запасы пресной воды составляют приблизительно 650 млрд. м3, что равно 12-ти речным ресурсам всей республики.'%}</p>

<p><strong>{% trans 'Основные города:'%}</strong>{% trans 'Бишкек — столица Кыргызской Республики (ок. 900 000 жителей); Ош — запад Кыргызстана (ок. 300 000 жителей), Каракол — Иссык-Кульская область (ок 64 000 жителей).Областными центрами являются также города Нарын, Талас, Джалал-Абад, Баткен.'%}</p>

<p><strong>{% trans 'Климат:'%}</strong>{% trans 'резко континентальный, лишь в Иссык-Кульской котловине он приближается к морскому.Средняя температура января -4оС -14оС, средняя температура июля +17оС +38оС ' %}</p>
</div>



{% endblock%}